/* Header */
.header_logo_link{
    color: var(--IRIS, #4D5AE5);
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.studio{
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Raleway;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: 21px;
        /* 116.667% */
        letter-spacing: 0.54px;
        text-transform: uppercase;
}
.link{
    color: var(--NAVY-BLUE, #2E2F42);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.32px;
        text-decoration: none;
}
.link:hover{
color: #404bbf;
}

.link:focus{
    color: #404bbf;
}

.header_em_ph{
    font-style: normal;
}
.contact_link{
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
.contact_link:hover{
    color: #404bbf;
}
.contact_link:focus{
    color: #404bbf;
}

/* Body */
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}
/* Body */

/* Section 1 */

.business_title{
    background: var(--NAVY-BLUE, #2E2F42);
}

.title_one{
color: var(--WHITE, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 56px;
    font-style: normal;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.button_link{
        background: var(--IRIS, #4D5AE5);
        color: var(--WHITE, #FFF);
            font-family: "Roboto", sans-serif;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 1.5;
            letter-spacing: 0.04em;
            cursor: pointer;
}
.button_link:hover{
        background: var(--OCEAN, #404BBF);
}
.button_link:focus{
background: var(--OCEAN, #404BBF);
}
/* Section 1 */

/* Section 2 */

.list{
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: "Roboto", sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.paragraf_list{
    color: var(--SLATE, #434455);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* Section 2 */

/* Section 3 */

.our_team{
    background: var(--CLOUD, #F4F4FD);
}

.header_two{
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: "Roboto",sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.team_card{
        background: var(--WHITE, #FFF);
}
.team_list{
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: "Roboto",sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
.team_p{
    color: var(--SLATE, #434455);
        text-align: center;
        font-family: "Roboto",sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* Section 3 */ 

/* Section 4 */ 

.portfolio_p{
    color: var(--SLATE, #434455);
        font-family: "Roboto", sans-serif;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}
.our_portfolio{
    color: var(--NAVY-BLUE, #2E2F42);
        text-align: center;
        font-family: "Roboto", sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
}
.header_three{
    color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
}
/* Section 4 */ 

/* Footer */ 

.footer{
    background: var(--NAVY-BLUE, #2E2F42);
}
.span_footer{
    color: #f4f4fd;
}
.footer_p{
    color: var(--CLOUD, #F4F4FD);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5;
        letter-spacing: 0.02em;
}

/* Footer */ 


